spring:
  datasource:
    username: root
    password: 45678432
    url: jdbc:mysql://localhost:3306/movie
  jpa:
    hibernate:
      ddl-auto: update


  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


project:
  files: files/

base:
  url: "http://localhost:8080"